.control__panel{
    border: 3px dashed #eee;
    padding: 1rem;
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    align-items: center;
    position: relative;
}

.power__button{
    position: absolute;
    top: 5px; 
    right: 15px;
    outline: none; 
    border: none; 
    background: lightcoral;
    padding: .5rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
}

.form__row{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__row input,.form__row select{
    width: 100%;
}

.form__row label{
    margin: .5rem 0;
}

.form__row select{
    padding: .5rem;
    border: 2px solid #000;
}

canvas{
    width: 100%;
    height: 300px;
    margin: 1rem 0;
    border: 1px solid red;
}