.control__panel {
    border: 3px dashed #eee;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    align-items: center;
    position: relative;
}

button{
    cursor: pointer;
    padding: 1rem;
    border-radius: 12px;
}

.start__button{
    background: limegreen;
}

.stop__button{
    background: crimson;
}

.listening__button{
    display: flex; 
    align-items: center;
    justify-content: center;
    background: dodgerblue;
}

.listening__button svg{
    width: 2rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
