body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  border: 2px solid #000;
  margin: 2rem;
  min-height: calc(100vh - 5rem);
  border-radius: 12px;
  position: relative;
  padding: 0 2rem;
}

.mode__buttons{
  position: absolute; 
  top: -20px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1rem;
  left: 10px;
  border-radius: 12px;
}

.mode__buttons button{
  background-color: #eee;
  outline: none; 
  cursor: pointer;
  color: #000;
  margin: 0 .5rem;
  padding: .5rem;
  border-radius: 12px;
}

.mode__buttons button.active{
  background-color: #000;
  color: #fff;
}

.visualizer{
  margin-top: 4rem;
}